.wrapper {
margin-top:10px; 
}
  .main  {
margin:0px;
  }


.configdiv
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#imageDiv{
  background-repeat: no-repeat;
  background-size: contain;
}
.imageHolder
{
width:100%;
height:100px;
overflow:hidden;

}