.cropped {
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    overflow: hidden;
    border: 2px solid silver;
    cursor: pointer;
    margin: 10px 0px 0px 10px;
}

.cropped img {
    margin: -10px 0px 0px -0px;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }